{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "dva": "dva-no-router"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}