# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
**/node_modules
.env
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/.next
/.vscode

# misc
.DS_Store
npm-debug.log*env
/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode
/logs

# visual studio code
.history
*.log
.gitignore
functions/mock
.temp/**
.next.zip
