.ForgotPassword {
  padding: 0 40px;
  .title-FP {
    font-size: 13px;
    color: #3b3b3b;
  }
  hr {
    border-top: 2px dashed #c4c4c4;
    width: 90%;
    margin: 25px auto;
  }
  .form-FP {
    .input-row {
      // justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      input[type=text], input[type=password] {
        width: -webkit-fill-available;
      }
      input[type=radio] {
        margin-right: 20px;
      }
    }
    .input-row.last {
      margin: -8px 0 15px 5px;
    }
  }
}


/*Mobile*/
@media only screen and (max-width: 739px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    .wrapper-user-layout {
        width: 100% ;
      .ForgotPassword {
        padding: 0 2rem;
      }
      .title-left{
       font-size: 1em;
       margin-bottom: 0.8em;
      }
      .title-FP {
        font-size: 0.8em;
        margin-bottom: 1.5em;
      }
    }
  }
}

/*Tablet*/
@media only screen and (min-width: 740px) and(max-width: 1023px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  .wrapper-user-layout {
      width: 100% ;
      height: 60vh;
    .ForgotPassword {
      padding: 0 5rem;
    }
    .title-left{
     font-size: 1.5em;
     margin-bottom: 0.8em;
    }
    .title-FP {
      font-size: 1em;
      margin-bottom: 1.5em;
      }
    }
  }
}
